<ul id="todo-list">
  {{#each todo in this itemController="todo"}}
    <li class="{{if todo.isCompleted 'completed'}} {{if todo.isEditing 'editing'}}">
      {{#if todo.isEditing}}
        {{input class="edit"
                value=todo.model.title
                focus-out="acceptChanges"
                insert-newline="acceptChanges"
                autofocus="autofocus"
        }}
      {{else}}
        {{input type="checkbox" checked=todo.isCompleted class="toggle"}}
        <label {{action "editTodo" on="doubleClick"}}>{{todo.model.title}}</label>
        <button {{action "removeTodo"}} class="destroy"></button>
      {{/if}}
    </li>
  {{/each}}
</ul>
